.trackList--default {
	padding: 5px !important;
}

.trackList {
	&__formGroup--default {
		padding: 0 !important; 
		margin: 0 !important;
	}
}

.trackItem__holder--primary {
	padding: 0;
}

.trackItem__holder--secondary {
	padding: 0 15px 0 0;
}

input[type=text].trackNum--default {
	height: 24px;
}

