// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
/*@import "compass/css3";*/

$lnm-picture-li-width: 100px;
$lnm-picture-li-height: 100px;
$lnm-picture-overlay-text-color: #ffffff;

.lnm-picture-list {
  margin: 10px;

  ul {

    white-space: pre-line;

    .lnm-picture-li {
      width: $lnm-picture-li-width;
      height: $lnm-picture-li-height;
      position: relative;
      margin: 10px;
      padding: 0;
	  	overflow: hidden;
	  	line-height: 0px;

      .lnm-picture-badge {
        position: absolute;
        margin: 0;
        right: 4px;
      }
      .lnm-picture-img {
        position: relative;
        min-height: $lnm-picture-li-height;
      }

      .lnm-picture-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: $lnm-picture-li-width;
        height: $lnm-picture-li-height;

        text-align: center;

        background-color: $modal-backdrop-bg;
        background: rgba($modal-backdrop-bg, $modal-backdrop-opacity);

        .glyphicon {
          font-size: xx-large;
          margin-top: 30px;
          color: $lnm-picture-overlay-text-color;
        }

        .lnm-loading {

          width: 100%;
          height: $lnm-picture-li-height;
        }
      }
    }
  }
}
