$sequencer-height: 60px;

.lnm-picture-sequencer {
  .sequence-headers {
    .sequence-header {
      font-weight: bold;
      font-size: small;
    }
  }
  .animate-repeat {
	border-bottom: 0px;
  }
  .sequence {
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    padding: 0;
    
    .container-fluid:first-child {
      
    }
    
    .sequence-ctrl-col {
      min-height: $sequencer-height;
      padding: 0;

      .sequence-ctrl {
        .sequence-grab-handle {
          display: inline-block;
          margin-top: 18px;
          font-weight: bolder;
          font-size: 20px;
          color: #505050;
          text-shadow:  1px 1px 1px #ffffff;
        }
        .sequence-grab-handle:before {
          content: '\2B0D';
        }
        
        .sequence-up {}
        .sequence-down {margin-left: -1px;}
      }
    }

    .sequence-text-col {
      min-height: $sequencer-height;
      padding-left: 0;
	  padding-top: 15px;
	  

      .sequence-text {
        display: inline-block;
        margin-top: 20px;
        font-weight: bold;
      }
    }
    .sequence-img-col {
      padding: 0;
      .sequence-img {
        margin-top: 12px;
      }
    }
    
    .sequence-title-col {
      .sequence-title {
        margin-top: 0px;
      }
	  label {
		margin-top: 12px;
	  }
	  .btn {
		margin-right: 5px;
	  }
    }
	.sequence-date-col {
		label {
			margin-top: 12px;
		}
		.form-control {
			margin-top: 5px;
		}
		.btn {
			margin-top: 39px;
		}
	} 
  }
}