/* Slider control */
lnmslider {
    display:     block;
    position:    relative;
    height:      34px;
    width:       500px;
}

lnmslider span.bar {
    
    z-index:    0;
    
    left:       0;
    top:        0;
    cursor:     pointer;
    position: 	relative;
    height: 	14px;
    border: 	2px solid #fafafa;
    border-radius: 10px;
    background: #fff;
    width: 110px;
    margin-top: 12px;
}


lnmslider span.bar.steps {
    background: url('/images/slider-background.png') no-repeat center center;
}

lnmslider span.bar.selection, lnmslider span.bar.unselected {
}

lnmslider span.bar.selection {
    background: #0a0;
    opacity:    0.5;
}

lnmslider span.bar.unselected {
    width:      auto;
    background: #a00;
    opacity:    0.5;
}

lnmslider span.pointer {
    cursor:           pointer;
    width:            15px;
    height: 15px;
    top:              12px;
    bottom:           0;
    background-color: #78af00;
    
    border-radius: 50%;
}

lnmslider span.pointer[data-percent="0"] {
  background-color: #e20000;
}
lnmslider span.pointer[data-percent="50"] {
  background-color: #e2bc35;
}
lnmslider span.pointer[data-percent="100"] {
  background-color: #78af00;
}
lnmslider {
	
}

slider span.pointer:hover {
}

lnmslider span.pointer.active {
}

lnmslider span.bubble {
    font-size:   0.7em;
    line-height: 1.4em;
    font-family: sans-serif;
    text-align:  center;
    text-shadow: none;
    top:         -1.3em;
    cursor:      pointer;
    display: none !important;
}

lnmslider span.bubble.selection, lnmslider span.bubble.limit {
    top: 25%;
}

lnmslider span.bubble.selection {
}

lnmslider span.bubble.limit {
}

lnmslider span.bubble.low, lnmslider span.bubble.high {
}

lnmslider input.input{
  cursor: pointer;
}

::-ms-tooltip {
    display: none;
}

#slider-container {
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -khtml-user-select:    none;
    -moz-user-select:      -moz-none;
    -ms-user-select:       none;
    user-select:           none;
}
