/* ==========================================================================
	#Reset
========================================================================== */
* { padding: 0; margin: 0; outline: 0; }

/* ==========================================================================
	#Base
========================================================================== */
html,
body { height: 100%; }

html { overflow-y: scroll; }
body { min-height: 650px; background: #fff; font-family: 'Fira Sans Medium', sans-serif; font-size: 12px; line-height: 1.2; color: #3f5863; -webkit-text-size-adjust: none; }

a { text-decoration: none; color: #e46e50; cursor: pointer; }
a:hover { color: #e46e50; text-decoration: underline; }

img { border: 0; vertical-align: middle; }

h2,
h5 { font-family: 'Fira Sans Medium', sans-serif; }

h2,
h3,
h5,
h6 { font-weight: normal; }

h2 { font-size: 28px; color: #4f5458; }
h3 { font-family: 'Fira Sans', sans-serif; font-size: 24px; color: #788a91; }
h5 { font-size: 15px; color: #3f5863; }
h6 { font-size: 12px; color: #b8b8b8; }

input,
select,
textarea { font-family: 'Fira Sans Medium', sans-serif; font-size: 13px; color: #b9b9b9; -webkit-appearance: none; }
textarea { overflow: auto; resize: none; }

ul,
ol { list-style-position: inside; }

/* ==========================================================================
	#Helpers
========================================================================== */
.clearfix:before,
.clearfix:after { display: table; content: " "; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.center { text-align: center; }

/* ==========================================================================
	#Containers
========================================================================== */
.wrapper { position: relative; min-height: 100%; overflow: hidden; }
.shell { width: 980px; margin: 0 auto; }

/* ==========================================================================
	#Buttons
========================================================================== */
.btn { min-width: 130px; padding: 9px 15px 8px; border-radius: 2px; font-size: 14px; color: #fff!important; text-transform: uppercase; }
.btn:hover { color: #fff; opacity: 0.8; }

.btn-dark { background: #2e3439; }
.btn-orange { background: #e46e50; }

.btn-transparent { min-width: 0; padding: 0; background: transparent; color: #e46e50!important; box-shadow: none!important; text-transform: none; }

.btn-back { position: absolute; top: 10px; left: 15px; margin-left: 16px; background: #2e3439; }
.btn-back:before { position: absolute; top: 0; left: -16px; width: 0; height: 0; border-style: solid; border-width: 19px 16px 19px 0; border-color: transparent #2e3439 transparent transparent; content: ''; }

/* ==========================================================================
	#Icons
========================================================================== */
[class^="icon-"],
[class*=" icon-"] { display: inline-block; vertical-align: middle; background: url(images/sprite.png) 0 0 no-repeat; }

.icon-dashboard,
.icon-news,
.icon-media,
.icon-music,
.icon-bus,
.icon-blocks,
.icon-trophy,
.icon-bubble,
.icon-user { width: 21px; height: 22px; margin-right: 10px; }
.icon-dashboard { background-position: -22px -28px; }
.icon-news { background-position: -66px -76px; }
.icon-media { background-position: -114px -76px; }
.icon-music { background-position: -22px -76px; }
.icon-bus { background-position: -116px -52px; }
.icon-blocks { background-position: -116px -28px; }
.icon-trophy { background-position: -69px -52px; }
.icon-bubble { background-position: -68px -28px; }
.icon-user { background-position: -22px -52px; }

.icon-current,
.icon-current-dashboard { position: absolute; top: 50%; right: -3px; display: none; width: 12px; height: 34px; margin-top: -17px; }
.icon-current { background-position: -146px -18px; }
.icon-current-dashboard { background-position: -146px -54px; }

.icon-device,
.icon-money,
.icon-users,
.icon-kite { width: 41px; height: 39px; }

.icon-device { background-position: 0 -186px; }
.icon-money { background-position: -83px -145px; }
.icon-users { background-position: -42px -145px; }
.icon-kite { background-position: 0 -145px; }

.icon-dropdown,
.icon-dropdown-orange,
.icon-dropdown-green { width: 12px; height: 8px; }
.icon-dropdown { margin-left: 12px; background-position: -146px -90px; }
.icon-dropdown-orange { background-position: -146px -145px; }
.icon-dropdown-green { background-position: -146px -188px; }

.icon-facebook,
.icon-twitter,
.icon-googleplus,
.icon-instagram,
.icon-youtube { width: 16px; height: 18px; margin-top: -4px; }
.icon-facebook { background-position: -85px -186px; }
.icon-twitter { background-position: -125px -186px; }
.icon-googleplus { background-position: -66px -186px; }
.icon-instagram { background-position: -46px -186px; }
.icon-youtube { background-position: -106px -186px; }

.icon-desktop,
.icon-tablet,
.icon-phone { height: 27px; }
.icon-desktop { width: 40px; background-position: 0 -229px; }
.icon-tablet { width: 35px; background-position: -49px -229px; }
.icon-phone { width: 15px; background-position: -95px -229px; }

.icon-prev,
.icon-next { width: 8px; height: 12px; margin-top: -2px; }
.icon-prev { margin-right: 5px; background-position: -136px -241px; }
.icon-next { margin-left: 5px; background-position: -146px -241px; }

.icon-arrow-right,
.icon-arrow-right-orange { width: 7px; height: 12px; margin: -4px 15px 0 0; }
.icon-arrow-right { background-position: -60px -307px; }
.icon-arrow-right-orange { background-position: -51px -307px; }

.icon-prev-big,
.icon-next-big { width: 8px; height: 14px; }
.icon-prev-big { margin-right: 10px; background-position: -70px -298px; }
.icon-next-big { margin-left: 10px; background-position: -79px -298px; }

.icon-profile { width: 18px; height: 16px; margin-top: -2px; background-position: -139px 0; }
.icon-decrease { width: 7px; height: 4px; background-position: -137px -91px; }
.icon-location { width: 22px; height: 27px; background-position: -132px -156px; }
.icon-arrow-search { width: 10px; height: 6px; margin-left: 10px; background-position: -148px -198px; }
.icon-filter { width: 18px; height: 20px; background-position: -73px -206px; font-size: 0; line-height: 0; text-indent: -4000px; }
.icon-cols-dark,
.icon-cols { width: 20px; height: 18px; }
.icon-cols { background-position: -137px -206px; }
.icon-cols-dark { background-position: -114px -270px; }
.icon-edit-dark,
.icon-edit { width: 18px; height: 18px; }
.icon-edit { background-position: -95px -206px; }
.icon-edit-dark { background-position: -137px -269px; }
.icon-delete { width: 15px; height: 18px; background-position: -117px -206px; }
.icon-plus { width: 18px; height: 18px; background-position: -114px -229px; }
.icon-mobile-actions-arrow { display: none; position: absolute; top: -11px; left: 50%; margin-left: -9px; width: 17px; height: 11px; background-position: -139px -227px; }
.icon-gallery { width: 21px; height: 17px; background-position: -114px -252px; }
.icon-gallery-popup { width: 15px; height: 7px; background-position: -139px -257px; }
.icon-calendar { width: 30px; height: 30px; margin: -6px 10px 0 0; background-position: 0 -289px; }
.icon-list { width: 18px; height: 15px; background-position: -51px -289px; }
.icon-facebook-circle { width: 18px; height: 18px; background-position: -31px -301px; }
.icon-check { width: 14px; height: 11px; background-position: -32px -288px; }
.icon-datepicker { width: 16px; height: 16px; margin-left: 7px; background-position: -89px -303px; }
.icon-error { width: 25px; height: 25px; margin-right: 10px; background-position: 0 -321px; }
.icon-arrow-down-orange { width: 12px; height: 7px; margin-right: 7px; background-position: -146px -291px; }
.icon-clone { width: 16px; height: 16px; background-position: -29px -321px; }
.icon-music-gray { width: 13px; height: 14px; margin: -4px 10px 0 0; background-position: -144px -307px; }
.icon-plus-orange { width: 18px; height: 18px; margin: -2px 4px 0 0; background-position: -87px -321px; }
.icon-remove { width: 16px; height: 16px; background-position: -67px -322px; }
.icon-folder { width: 16px; height: 13px; background-position: -47px -322px; }
.icon-check-big { width: 36px; height: 28px; background-position: -113px -323px; }

/* ==========================================================================
	#Header
========================================================================== */
.header { position: relative; z-index: 1; height: 57px; padding: 15px 15px 0; border-top: 1px solid #fff; background: #2e3439; }

.logo { float: left; width: 137px; margin: 0; }
.logo a { overflow: hidden; display: block; height: 26px; background: url(images/sprite.png) 0 0 no-repeat; text-indent: 100%; white-space: nowrap; }

.nav-user { float: right; padding-top: 4px; }
.nav-user ul { margin: 0; list-style: none outside none; }
.nav-user li { float: left; }
.nav-user li + li { padding-left: 18px; border-left: 1px solid #6e7173; margin-left: 15px; }
.nav-user a { display: block; padding-right: 23px; background: url(images/arrow.png) right 5px no-repeat; font-size: 16px; color: #fff; }

.sidebar-toggle { display: none; }

/* ==========================================================================
	#Main
========================================================================== */
.main { position: relative; padding: 0 0 72px 168px; }

.sidebar { position: absolute; top: 0; left: 0; width: 168px; height: 100%; background: #fcfbf7; border-right: 3px solid #f0f0f0; }

.nav-aside ul { margin: 0; list-style: none outside none; }
.nav-aside li + li { border-top: 2px solid #e8e8e8; }
.nav-aside a { position: relative; display: block; padding: 17px 12px; border-left: 4px solid transparent; font-size: 14px; color: #3f5863; }
.nav-aside .current a,
.nav-aside a:hover { border-left-color: #e46e50; background: #2d3439; color: #fff; text-decoration: none; }

.nav-aside .current .icon-current,
.nav-aside .current .icon-current-dashboard { display: block; }

.nav-aside .current .icon-dashboard,
.nav-aside a:hover .icon-dashboard { background-position: 0 -28px; }
.nav-aside .current .icon-news,
.nav-aside a:hover .icon-news { background-position: -44px -76px; }
.nav-aside .current .icon-media,
.nav-aside a:hover .icon-media { background-position: -89px -76px; }
.nav-aside .current .icon-music,
.nav-aside a:hover .icon-music { background-position: 0 -76px; }
.nav-aside .current .icon-bus,
.nav-aside a:hover .icon-bus { background-position: -92px -52px; }
.nav-aside .current .icon-blocks,
.nav-aside a:hover .icon-blocks { background-position: -92px -28px; }
.nav-aside .current .icon-trophy,
.nav-aside a:hover .icon-trophy { background-position: -45px -52px; }
.nav-aside .current .icon-bubble,
.nav-aside a:hover .icon-bubble { background-position: -45px -28px; }
.nav-aside .current .icon-user,
.nav-aside a:hover .icon-user { background-position: 0 -52px; }

.paging { padding: 10px 0; text-align: center; }
.paging a { font-family: 'Fira Sans', sans-serif; color: #3f5863; text-transform: uppercase; }

.paging-prev,
.paging-next,
.paging ul,
.paging li { display: inline-block; vertical-align: middle; }

.paging ul { margin: 0; padding: 0 20px; list-style: none outside none; }
.paging ul a { display: block; width: 30px; height: 30px; line-height: 30px; }
.paging .current a { background: #eee; }
.paging a:hover { text-decoration: none; }

.breadcrumbs { float: left; padding-top: 8px; }
.breadcrumbs ul { overflow: hidden; margin: 0; list-style: none outside none; }
.breadcrumbs li { float: left; padding-right: 10px; color: #b8b8b8; }
.breadcrumbs li + li { padding-left: 15px; background: url(images/breadcrumbs.png) 0 0 no-repeat; }
.breadcrumbs a { text-decoration: underline; }
.breadcrumbs a:hover { text-decoration: none; }

/* ==========================================================================
	#Content
========================================================================== */
.content { padding-bottom: 25px; }
.content-head { height: 69px; padding-top: 15px; }
.content-head h2 { float: left; padding-top: 5px; margin: 0; }
.content-head .actions { float: right; }
.content-head .btn-group,
.content-head .btn { margin-left: 12px; }

/* ==========================================================================
	#Dashboard
========================================================================== */
.dashboard { background: #f1f1f1; }
.dashboard .progress { background: transparent; border-radius: 0; box-shadow: none; }

.stats-thumb { float: left; padding: 2px 17px 0 30px; }
.stats-content { overflow: hidden; }
.stats-content strong { display: block; padding-bottom: 5px; font-family: 'Fira Sans', sans-serif; font-size: 24px; color: #3f5863; font-weight: normal; }
.stats-content p { margin: 0; font-size: 13px; color: #bcc1c5; }

.dashboards .col { margin-bottom: 15px; }
.dashboards .row { margin: 0 -20px; }
.dashboards .panel { padding: 0 15px; margin: 0 -10px; border-radius: 0; box-shadow: none; }
.dashboards .panel-heading { height: 65px; padding: 15px 3px 0; }
.dashboards .panel-heading h3 { float: left; margin: 0; }
.dashboards .panel-heading .actions { float: right; }
.dashboards .panel-heading .btn-group { padding-right: 10px; border-right: 2px solid #dadddf; margin-right: 6px; }
.dashboards .panel-body { padding: 0; padding-bottom: 15px; }

.dashboards .nav-tabs > li.active > a, 
.dashboards .nav-tabs > li.active > a:hover, 
.dashboards .nav-tabs > li.active > a:focus { border-color: #f0f0f0; border-bottom-color: #fcfbf7; background: #fcfbf7; outline: none; }
.dashboards .nav-tabs { border-color: #f0f0f0; }
.dashboards .nav-tabs > li > a { border-radius: 0; font-size: 14px; white-space: nowrap; }
.nav-tab-toggle { display: none; }

.chart-content { padding: 15px; border: 1px solid #f0f0f0; border-top: 0; background: #fcfbf7; }
.chart-graph img { width: 100%; height: auto; }

.chart-head { overflow: hidden; border-bottom: 1px solid #b9b9b9; }

.chart-legend { float: right; }
.chart-legend ul { overflow: hidden; margin: 0; list-style: none outside none; }
.chart-legend li { float: left; height: 34px; padding: 0 12px; border: 1px solid #efeeeb; border-radius: 5px; margin-left: 8px; background: #fff; font-family: 'Fira Sans Bold', sans-serif; font-size: 13px; line-height: 34px; color: #3f5863; }

.dashboards .panel-stats { overflow: hidden; padding: 20px 0 15px; margin: 0 -15px 15px; }

.circle { display: inline-block; width: 8px; height: 8px; margin-right: 7px; border-radius: 9999px; }
.circle-blue { background: #5799da; }
.circle-orange { background: #e46e50; }
.circle-green { background: #78af00; }
.circle-gray { background: #b8b8b8; }


.stats strong { position: relative; display: inline-block; padding-right: 30px; font-family: 'Fira Sans', sans-serif; font-size: 20px; color: #3f5863; font-weight: normal; }
.stats p { margin: 0; font-size: 12px; color: #4e5358; }
.stats span { position: absolute; top: 0; right: 0; font-family: 'Fira Sans Bold', sans-serif; font-size: 9px; color: #f22e2b; }
.stats { padding: 10px 0; }

.graph-bars { padding-top: 15px; }
.graph-bar { padding-bottom: 12px; }
.graph-bar p { padding-bottom: 5px; margin: 0; }
.graph-bar strong { font-size: 21px; font-weight: normal; }
.graph-bar span { font-size: 15px; color: #babebf; }
.graph-bar .progress { height: 7px; margin: 0; }
.graph-bar .progress-bar { box-shadow: none; }

.graph-bar-green strong { color: #78af00; }
.graph-bar-green .progress-bar { background: #afcf68; }
.graph-bar-orange strong { color: #e46e50; }
.graph-bar-orange .progress-bar { background: #eea996; }
.graph-bar-blue strong { color: #5799da; }
.graph-bar-blue .progress-bar { background: #9cc2e6; }
.graph-bar-gray strong { color: #b9b9b9; }
.graph-bar-gray .progress-bar { background: #d5d5d3; }

.rate strong { font-family: 'Fira Sans Light', sans-serif; font-size: 30px; color: #3f5863; }
.rate p { margin: 0; font-size: 15px; color: #bbc1c5; }

/* ==========================================================================
	#Coupon
========================================================================== */
.panel-coupon .panel-body { border: 1px solid #f0f0f0; margin-bottom: 15px; background: #fcfbf7; }
.panel-coupon .chart-head { overflow: visible; border: 0; }
.panel-coupon .rate { float: left; }
.panel-coupon .chart-head { padding: 15px 10px 0; }
.panel-coupon .chart-head .btn-group { float: right; padding: 5px 0 0 15px; }
.panel-coupon .panel-heading { height: 57px; }

.coupon-stats { clear: both; overflow: hidden; }
.coupon-stats ul { float: right; margin: 0; list-style: none outside none; }
.coupon-stats li { float: left; padding-left: 25px; text-align: right; }
.coupon-stats strong { font-family: 'Fira Sans Light', sans-serif; font-size: 20px; color: #5799da; font-weight: normal; }
.panel-coupon .chart-body .rate,
.panel-coupon .chart-body .coupon-stats { display: none; }

/* ==========================================================================
	#Tickets
========================================================================== */
.panel-tickets .chart-head { overflow: hidden; border: 0; }
.panel-tickets .rate { float: left; }
.panel-tickets .rate strong { font-size: 40px; line-height: 0.9; }
.panel-tickets .location { position: relative; float: right; width: 190px; padding-left: 30px; }
.panel-tickets .location strong { font-family: 'Fira Sans', sans-serif; font-weight: normal; font-size: 20px; }
.panel-tickets .location p { margin: 0; font-size: 12px; color: #4d5258; }
.panel-tickets .icon-location { position: absolute; top: 3px; left: 0; }

/* ==========================================================================
	#Commerce
========================================================================== */
.panel-commerce .chart-body { overflow: hidden; padding: 15px 0 15px; }
.panel-commerce h2 { padding-bottom: 25px; margin: 0; font-family: 'Fira Sans Light', sans-serif; font-size: 30px; font-weight: normal; text-align: center; text-transform: uppercase; }
.panel-commerce .chart-sales { overflow: hidden; text-align: center; }
.panel-commerce .chart-sales .legend,
.panel-commerce .chart-sales .graph { display: inline-block; padding: 0 10px; vertical-align: middle; text-align: left; }
.panel-commerce .chart-sales .legend strong { position: relative; display: inline-block; padding-right: 45px; font-size: 21px; font-weight: normal; }
.panel-commerce .chart-sales .legend p { margin: 0; font-size: 15px; color: #babebf; }
.panel-commerce .chart-sales .legend ul { margin: 0; list-style: none outside none; }
.panel-commerce .chart-sales .legend li + li { padding-top: 10px; }
.panel-commerce .chart-sales .legend .blue strong { color: #5799da; }
.panel-commerce .chart-sales .legend .light-blue strong { color: #a9cae8; }
.panel-commerce .chart-sales .legend .label { position: absolute; top: 0; right: 0; height: 22px; padding: 0 5px; background: #babebf; font-family: 'Fira Sans Bold', sans-serif; font-size: 12px; line-height: 22px; color: #fff; }
.panel-commerce .chart-sales .legend .label:before { position: absolute; top: 8px; left: -4px; width: 0; height: 0; border-style: solid; border-width: 3px 4px 3px 0; border-color: transparent #babebf transparent transparent; content: ''; }

/* ==========================================================================
	#Traffic
========================================================================== */
.panel-traffic .active .icon-desktop { background-position: 0 -260px; }
.panel-traffic .active .icon-tablet { background-position: -49px -260px; }
.panel-traffic .active .icon-phone { background-position: -95px -260px; }
.panel-traffic .nav-tabs li a { line-height: 27px; }
.panel-traffic .chart-content { background: #fff; border: 0; }
.panel-traffic .nav-tabs { border: 1px solid #f0f0f0; background: #fcfbf7; }
.panel-traffic .nav-tabs a,
.panel-traffic .nav-tabs > li.active > a, 
.panel-traffic .nav-tabs > li.active > a:hover, 
.panel-traffic .nav-tabs > li.active > a:focus { border: 0!important; }

.traffic-chart { overflow: hidden; }
.traffic-chart ~ .traffic-chart { padding-top: 26px; }
.traffic-chart .legend { float: right; width: 90px; padding-top: 12px; }
.traffic-chart .legend strong,
.traffic-chart .legend span { display: block; font-family: 'Fira Sans', sans-serif; color: #3f5863; }
.traffic-chart .legend strong { font-size: 22px; font-weight: normal; }
.traffic-chart .legend span { font-size: 14px; }
.traffic-chart .chart-graph { overflow: hidden; height: 53px; padding-right: 10px; }
.traffic-chart .chart-graph img { width: 100%; height: 100%; }

/* ==========================================================================
	#Social Stats
========================================================================== */
.graph-socials { padding-top: 16px; font-size: 15px; color: #b9bebf; }
.social-stats { text-align: center; }
.social-stats ul { overflow: hidden; margin: 0; list-style: none outside none; }
.social-stats li { float: left; width: 20%; padding: 0 5px; }
.social-bar { position: relative; height: 90px; margin-bottom: 10px; }
.social-bar-inner { position: absolute; bottom: 0; left: 0; width: 100%; }

.social-bar-facebook .social-bar-inner { background: #3b5998; }
.social-bar-twitter .social-bar-inner { background: #55acee; }
.social-bar-googleplus .social-bar-inner { background: #dd4b39; }
.social-bar-instagram .social-bar-inner { background: #3f729b; }
.social-bar-youtube .social-bar-inner { background: #c4302b; }

/* ==========================================================================
	#Sales
========================================================================== */
.panel-sales .chart-nav { position: relative; }
.panel-sales .rate { position: absolute; top: -15px; right: 0; text-align: right; }
.panel-sales .chart-head { overflow: hidden; padding-bottom: 20px; }

/* ==========================================================================
	#User Count
========================================================================== */
.panel-user-count .panel-body { padding: 0; overflow: hidden; }

.user-count-graph { float: left; }
.user-count-legend { float: left; }
.user-count-stats { overflow: hidden; }
.user-count-stats-head { display: none; }
.user-gender { float: left; }

.user-count-graph { padding: 0 30px 0 15px; }

.user-count-legend { padding-right: 25px; }
.user-count-legend ul { margin: 0; list-style: none outside none; text-align: right; }
.user-count-legend li { padding-bottom: 15px; }
.user-count-legend strong { display: block; font-family: 'Fira Sans Light', sans-serif; font-size: 25px; font-weight: normal; }
.user-count-legend p { margin: 0; font-size: 15px; color: #b8b8b8; }
.user-count-legend .current strong { font-family: 'Fira Sans Medium', sans-serif; }
.user-count-legend .current p { color: #22313e; }
.user-count-legend .green strong { color: #78af00; }
.user-count-legend .orange strong { color: #e46e50; }
.user-count-legend .gray strong { color: #b9b9b9; }
.user-count-legend .blue strong { color: #5799da; }

.user-count-stats { padding: 45px 0 35px; border: 2px solid #f8f8f8; border-left: 3px solid #78af00; background: #fcfbf7; }
.user-count-stats h5 { padding-bottom: 30px; margin: 0; }

.user-age-groups,
.user-gender { float: left; width: 50%; padding: 0 10px; text-align: center; }

.user-age-graph ul { margin: 0; list-style: none outside none; }
.user-age-graph li { overflow: hidden; padding-bottom: 5px; }
.user-age-graph span { float: left; padding-left: 5px; font-size: 15px; color: #babebf; }
.user-age-graph .progress { float: left; width: 50%; height: 15px; margin: 0; }
.user-age-graph .progress-bar { float: right; background: #afcf68; border-radius: 2px; box-shadow: none; }

.user-gender-graph,
.user-gender-legend { display: inline-block; vertical-align: middle; padding: 0 7px; }
.user-gender-legend ul { margin: 0; list-style: none outside none; text-align: left; }
.user-gender-legend li { font-size: 15px; color: #babebf; }
.user-gender-legend li + li { padding-top: 5px;}
.user-gender-legend .square { display: inline-block; width: 14px; height: 14px; border-radius: 2px; margin-right: 4px; vertical-align: middle; }
.user-gender-legend .male .square { background: #afcf68; }
.user-gender-legend .female .square { background: #78af00; }
.user-gender-legend .undefined .square { background: #5e8900; }

/* ==========================================================================
	#Table
========================================================================== */
.table-head { padding-top: 6px; }
.table-body { border: 2px solid #e8e8e8; border-top: 0; }

.table-head .nav-tabs { float: left; border-bottom: 0; margin-bottom: -1px; }
.table-head .nav-tabs a { padding: 10px 15px; border-bottom: 0; border-radius: 0; font-family: 'Fira Sans', sans-serif; font-size: 20px; color: #e46e50; }
.table-head .nav-tabs .active a { background: #fcfbf7; }
.table-head .filter,
.search { float: left; }
.search .input-group { overflow: hidden; width: 245px; height: 30px; border: 2px solid #e8e8e8; border-radius: 15px; }
.search .form-control { display: block; float: left; width: 165px; height: 26px; padding: 0 0 0 30px; border: 0; border-right: 2px solid #e8e8e8; box-shadow: none; background: #fcfbf7 url(images/search.png) 0 center no-repeat; font-family: 'Fira Sans Medium Italic', sans-serif; font-size: 13px; color: #d4d3d2; }
.search .btn { display: block; min-width: 0; width: 77px; height: 26px; padding: 0 0 0 10px; border: 0; background: #eeedea; font-size: 13px; line-height: 26px; color: #3f5863!important; text-transform: none; text-align: left; }
.search .input-group-btn { display: block; float: left; padding: 0; }
.table-head .filter { position: relative; padding: 4px 10px 0 0; }

.filter.open .filter-popup { display: block; }
.filter-popup { display: none; position: absolute; top: 40px; right: 0; width: 300px; z-index: 100; padding: 10px 15px; background: #2e3439; }
.filter-popup:before { position: absolute; top: -10px; right: 10px; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #22313e transparent; content: ''; }

.table-head-inner { float: right; padding-top: 8px; }

.table-main .table { margin-bottom: 0; }
.table-main .table .center { text-align: center; }
.table-main .table th { border-width: 2px 0!important; border-style: solid!important; border-color: #e8e8e8!important; background: #fcfbf7; font-family: 'Fira Sans Medium', sans-serif; font-size: 12px; color: #90908e; font-weight: normal; }
.table-main .table td { padding: 15px 8px 15px; font-size: 13px; color: #788a91; vertical-align: middle; }
.table-main .table strong { font-family: 'Fira Sans Bold', sans-serif; color: #3f5863; font-weight: normal; }
.table-main .table .stripe td { background: #fdfdfb; }
.table-main .actions ul { position: relative; width: 110px; height: 10px; border: 2px solid #fafafa; border-radius: 5px; margin: 0; background: #fff; list-style: none outside none; }
.table-main .actions a { display: block; width: 5px; height: 5px; border-radius: 50%; background: #d7dbdd; font-size: 0; line-height: 0; text-indent: -4000px; }
.table-main .actions li { position: absolute; top: 1px; }
.table-main .actions .hide { left: 0; display: block !important; }
.table-main .actions .preview { left: 50%; margin-left: -2px; }
.table-main .actions .show { right: 0; }
.table-main .actions .current { top: -4px; }
.table-main .actions .current a { width: 15px; height: 15px; }
.table-main .actions .hide.current a{ background: #e20000; }
.table-main .actions .preview.current { margin-left: -7px; }
.table-main .actions .preview.current a { background: #e2bc35; }
.table-main .actions .show.current a { background: #78af00; }
.table-main .mobile-actions { display: none; }
.actions-toggle { display: none; }

.table-sort { padding-right: 15px; background: url(images/sort-arrow.png) right center no-repeat; color: #90908e; }
.table-sort:hover { color: #90908e; text-decoration: none; }

.gallery-info { position: relative; }
.gallery-info.open .gallery-popup { display: block; }
.gallery-popup { display: none; position: absolute; z-index: 1; top: 30px; right: -17px; border-radius: 2px; background: #e46e50; }
.gallery-popup .icon-gallery-popup { position: absolute; top: -7px; right: 35px; }
.gallery-popup ul { padding: 15px 15px 8px; margin: 0; font-family: 'Fira Sans Bold', sans-serif; font-size: 13px; color: #fff; text-align: left; list-style: none outside none; }
.gallery-popup li { padding-bottom: 5px; }

/* ==========================================================================
	#Tour
========================================================================== */
.tour-info { border: 2px solid #e8e8e8; background: #fcfbf7; }
.tour-info ul { overflow: hidden; margin: 0; list-style: none outside none; }
.tour-info li { overflow: hidden; padding: 13px 30px 8px 15px; }
.tour-info h6,
.tour-info h2 { margin: 0; }
.tour-info h6 { padding-bottom: 2px; }
.tour-info span { font-family: 'Fira Sans', sans-serif; font-size: 20px; color: #4f5458; }

.tour-info-row ~ .tour-info-row { border-top: 2px solid #e8e8e8; }
.tour-info li + li { border-left: 2px solid #e8e8e8; }
.tour-info .actions { float: right; padding-top: 10px; }
.tour-info .actions a { margin-left: 25px; }
.tour-info-row ~ .tour-info-row li { float: left; }

.tour-title { float: left; padding-left: 8px; }
.tour-title h3 { margin: 0; font-size: 20px; color: #4f5458; }

.tour .table-head { padding: 20px 0 15px; }

.table-tour .accordion-head.expanded td { background: #edeceb; }
.table-tour .accordion-head.expanded .icon-arrow-right { width: 12px; height: 7px; background-position: -71px -289px; }

.table-main .accordion-body > td { padding: 0; background: #fcfbf7; }

.table-main .table-acts th { border: 0!important; vertical-align: middle; }
.table-main .accordion-body { display: none; }
.table-main .accordion-body.expanded { display: table-row; }
.table-main .accordion-body .table { margin: 0; background: transparent; }
.table-main .accordion-body th { color: #77898f; }
.table-main .accordion-body .table td { padding: 5px 8px; border: 0 !important; }
.table-main .accordion-body h5 { padding: 25px 0 15px; margin: 0; border-top: 2px solid #e8e8e8; font-size: 16px; color: #4d5258; }
.table-main .table-acts td { color: #3f5863; }
.table-main .accordion-body h5,
.table-main .accordion-body .table th:first-child,
.table-main .accordion-body .table td:first-child { padding-left: 35px; }
.table-main .table-modal-cols td { color: #4f5458; }

/* ==========================================================================
	#Modals
========================================================================== */
.modal-box { position: absolute; top: 0; right: 0; z-index: 10; width: 630px; height: 100%; padding-bottom: 72px; background: #3f474e; overflow-y: auto; }
.modal-box-inner { position: relative; min-height: 100%; }
.modal-box .actions a { font-size: 14px; color: #b8b8b8; text-decoration: underline; }
.modal-box .actions a + a { margin-left: 15px; }
.modal-box .actions .btn,
.modal-box .actions a:hover { text-decoration: none; }
.modal-box .btn { min-width: 80px; }
.modal-box .nav-tabs > li > a { border-radius: 0; }
.modal-box .nav-tabs > li.active > a, 
.modal-box .nav-tabs > li.active > a:hover, 
.modal-box .nav-tabs > li.active > a:focus { background: transparent; }
.modal-box .nav-tabs > li > a { background: #fff; font-size: 14px; }
.modal-box .nav-tabs > .active > a, 
.modal-box .nav-tabs > .active > a:hover, 
.modal-box .nav-tabs > .active > a:focus { border-bottom: 0; }

.modal-nav { position: relative; }

.modal-box .modal-head { position: relative; padding: 20px 0; border-width: 2px 0; border-style: solid; border-color: #4a5158; }
.modal-box .modal-head h3 { padding: 0 200px; margin: 0; text-align: center; font-family: 'Fira Sans Medium', sans-serif; font-size: 20px; color: #f2f2f2; }
.modal-box .modal-head .actions { position: absolute; top: 15px; right: 15px; }


.modal-box .modal-body { padding: 0 15px 85px; }
.modal-box .modal-body-inner { background: #fcfbf7; }

.modal-box .modal-foot { position: absolute; bottom: 0; left: 0; width: 100%; padding: 12px; border-top: 2px solid #4a5158; background: #3f474e; }
.modal-box .modal-foot .actions { text-align: right; }

.modal-controls { overflow: hidden; padding: 12px 0; }
.modal-controls a { font-size: 14px; color: #fff; }
.modal-controls a:hover { text-decoration: none; color: #e46e50; }
.modal-controls .prev { float: left; }
.modal-controls .next { float: right; }

.modal-box .alert-danger { position: relative; padding-left: 55px; border-radius: 0; border: 0; margin-top: 20px; background: #e20000; color: #fff; }
.modal-box .alert-danger .icon-error { position: absolute; top: 50%; left: 13px; margin-top: -12px; }

.modal-box-setlist2 .modal-body { padding-top: 10px; }
.modal-box-edit-tour .modal-body { padding-top: 20px; }

.table-presale-details { padding-bottom: 10px; }
.table-presale-details .form-row { padding-bottom: 0; }
.table-presale-details .form-row ~ .form-row { padding-top: 20px; }
.table-presale-details tr + tr td { border-top: 15px solid #fcfbf7!important; }
.table-presale-details td { border: 0!important; background: #edece8; vertical-align: middle!important; }
.table-presale-details td:first-child { border-right: 2px solid #fcfbf7!important; }
.table-presale-details td:first-child + td { padding-left: 20px; }
.table-presale-details .checkbox { text-align: center; }
.table-presale-details .custom-checkbox-fake { float: none; display: inline-block; margin: 0; }
.table-presale-details .datepicker-holder { margin-right: 30px; }

.popup-overlay,
.popup { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.popup { z-index: 100; font-size: 13px; line-height: 1.62; color: #788a91; }
.popup-overlay { background: rgba(62,71,78, .8); }
.popup-box { position: absolute; top: 50%; left: 50%; margin: -200px 0 0 -185px; width: 390px; padding: 37px 0 0; border-radius: 3px; background: #fcfbf7; box-shadow: -14px 14px 0px 0px rgba(0, 0, 0, 0.4); }
.popup-entry { padding: 0 30px 20px; }
.popup h3 {padding-bottom: 12px; margin: 0; font-family: 'Fira Sans Medium', sans-serif; font-size: 20px; color: #34495e; }
.popup strong { color: #2c3e50; font-weight: normal; }
.popup-actions { padding: 15px; background: #edece8; text-align: right; }
.popup-actions .btn { min-width: 130px; margin-left: 10px; }
.popup .close { position: absolute; top: 15px; right: 15px; width: 11px; height: 11px; background: url(images/sprite.png) -110px -311px no-repeat; opacity: 1; }

.modal-upload-photos .modal-body { position: absolute; top: 80px; bottom: 80px; width: 100%; }
.upload-photos { position: absolute; top: 15px; right:15px; left: 15px; bottom: 15px; background: #57646d; }

.upload-photos-inner { position: absolute; top: 50%; left: 0; width: 100%; margin-top: -125px; text-align: center; }
.upload-photos-inner p { padding: 47px 20px 10px; margin: 0; font-size: 25px; color: #2e3439; }
.file-upload-btn { font-size: 18px; color: #b9b9b9; text-decoration: underline; }
.file-upload-btn:hover { text-decoration: none; }

.border-top,
.border-bottom,
.border-left,
.border-right { position: absolute; }

.border-top,
.border-bottom { left: 0; width: 100%; height: 2px; background: url(images/border-horizontal.png) 0 0 repeat-x; }

.border-left,
.border-right { top: 0; width: 2px; height: 100%; background: url(images/border-vertical.png) 0 0 repeat-y; }

.border-top { top: 0; }
.border-right { right: 0; }
.border-bottom { bottom: 0; }
.border-left { left: 0; }

.file-upload { display: inline-block; position: relative; overflow: hidden; }
.file-upload-btn { display: inline-block; }
.file-upload-input { opacity: 0; font-size: 100px; position: absolute; bottom: -10px; right: -10px; cursor: pointer; }



/* ==========================================================================
	#Form
========================================================================== */
.form-section { padding-bottom: 15px; }
.form-row { padding-bottom: 20px; }

.form-label { display: block; padding: 0 0 6px 5px; font-size: 14px; color: #2e3439; font-weight: normal; }

.field { width: 341px; height: 42px; padding: 0 10px; border: 2px solid #e0e0e0; border-radius: 3px; background: #fff; }
.field-small { width: 109px; }
.field-full { width: 100%; }
.field-datepicker { font-family: 'Fira Sans Medium Italic', sans-serif; }

.field.error { border-color: #e20101; color: #e20101; background: #fdf0f0; }

.textarea { width: 100%; height: 55px; padding: 10px; }
.textarea-small { height: 45px; }

.select { width: 212px; background: #fff; }
.select.error { background: #fdf0f0; }
.select.error .selecter .selecter-selected { border-color: #e20101; color: #e20101; }
.select-large { width: 312px; }
.select-small { width: 86px; }
.select-full { width: 100%; }
.select-inline { display: inline-block; vertical-align: middle; }
.field ~ .select-inline { margin-left: 14px; }
.field-transparent { width: auto; border: 0; background: transparent; font-size: 13px; color: #3f5863; }

.select-gallery { background: #fff url(images/select-gallery.png) 0 center no-repeat; }
.select-video { background: #fff url(images/select-video.png) 0 center no-repeat; }

.select-gallery .selecter .selecter-selected,
.select-video .selecter .selecter-selected { padding-left: 40px; }

.checkbox { padding-left: 10px; margin: 0; }
.checkbox-inline { display: inline-block; }
.checkbox label { color: #b8b8b8; }
.custom-checkbox input { opacity: 0; filter: alpha(opacity=0); position: absolute; }
.custom-checkbox-fake { float: left; width: 17px; height: 17px; margin: -3px 10px 0 0; background: url(images/sprite.png) -127px -290px no-repeat; }
.custom-input-checked .custom-checkbox-fake { background-position: -108px -290px; }
.custom-input-disabled .custom-checkbox-fake { opacity: .5; filter: alpha(opacity=50); }
 
.form-tour-date { padding: 0 15px; }

.select-gallery .selecter-item:last-child { color: red; }

.form-tour-date .datepicker-holder { margin-right: 35px; }

.form-filter .form-label { color: #fff; }
.form-filter .separator { padding: 0 5px; color: #fff; }

/* ==========================================================================
	#Tags
========================================================================== */
.tags-holder { position: relative; padding: 10px; }
.tags-holder.field { width: 100%; min-height: 45px; height: auto; }
.tags-popup.open { display: block; }

.tags-popup { position: relative; display: none; top: 100%; left: 0; z-index: 9999; padding: 15px; background: #2e3439; }
.tags-popup:before { position: absolute; top: -10px; left: 25px; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #2e3439 transparent; content: ''; }
.tags-categories { overflow: hidden; margin: 0; padding-bottom: 10px; list-style: none outside none; }
.tags-categories li { float: left; padding-right: 10px; }
.tags-categories li + li { padding-left: 10px; border-left: 1px solid #b9b9b9; }
.tags-categories a { font-size: 13px; }
.tags-categories .current a,
.tags-categories a:hover { color: #b9b9b9; text-decoration: none; }

.tags a { display: inline-block; height: 38px; padding: 0 15px; margin: 0 5px 5px 0; background: #e46e50; line-height: 38px; color: #fff; }

.nav-tags { overflow: hidden; margin: 0; list-style: none outside none; }
.nav-tags li { float: left; }
.nav-tags a { display: block; padding: 7px 20px; font-size: 13px; }
.nav-tags a:hover { text-decoration: none; }
.nav-tags .current a { background: #b9b9b9; color: #fff; }

/* ==========================================================================
	#Datepicker
========================================================================== */
.datepicker-holder { position: relative; display: inline-block; }
.datepicker-holder.open:before { position: absolute; bottom: 0; right: -3px; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #22313e transparent; content: ''; }
.datepicker-holder.open .datepicker-popup { display: block; }
.datepicker-popup { display: none; position: absolute; top: 100%; left: 0; z-index: 999; width: 300px; padding: 10px 0; background: #22313e; }
.datepicker-popup.right { left: auto; right: -10px; }
.datepicker-popup h5 { font-size: 14px; color: #fff; text-align: center; }

.ui-datepicker { padding: 0 20px; border: 0; border-radius: 0!important; background: #22313e; }
.datepicker-holder .ui-datepicker { width: 100%; }
.ui-datepicker-header { padding-bottom: 10px!important; border-bottom: 1px solid #3e4b56!important; border-radius: 0; margin: 0 -20px 20px; }
.ui-datepicker-title { text-transform: uppercase; }
.ui-datepicker-calendar th { text-transform: uppercase; }
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default { border: 0; background: transparent; font-family: 'Fira Sans Medium', sans-serif; font-size: 12px; color: #fff; font-weight: normal; text-align: center; }
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active { background: #e46e50!important; }
.ui-widget-header { border: 0; background: transparent; }

.ui-datepicker-prev .ui-icon,
.ui-datepicker-next .ui-icon { width: 8px; height: 14px; background: url(images/sprite.png) 0 0 no-repeat; }

.ui-datepicker-prev .ui-icon { background-position: -89px -288px; }
.ui-datepicker-next .ui-icon { background-position: -98px -289px; }
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, .ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus { border: 0; background: transparent; font-weight: normal; }

.ui-datepicker .ui-datepicker-prev-hover, 
.ui-datepicker .ui-datepicker-next-hover { top: 2px; }

.ui-datepicker .ui-datepicker-prev-hover { left: 2px; }
.ui-datepicker .ui-datepicker-next-hover { right: 2px; }

/* ==========================================================================
	#Setlist
========================================================================== */
.setlist-edit { padding: 15px; }
.setlist-edit .list-cols { overflow: hidden; margin: 0; list-style: none outside none; }
.setlist-edit .list-cols li { float: left; width: 60px; text-align: center; }
.setlist-edit .list-cols li:first-child { width: 305px; text-align: left; }
.setlist-edit .list-cols li:first-child + li { width: 80px; }
.setlist-edit-head { padding-bottom: 10px; }
.setlist-edit-head .list-cols { color: #616161; }
.setlist-edit-head .list-cols li:first-child { padding-left: 5px; }
.setlist-edit-body .list-cols li:first-child { padding-left: 10px; }
.setlist-edit .accordion-section { border: 1px solid #e5e5e5; margin-bottom: 15px; }
.setlist-edit .accordion-head { background: #eee; font-size: 13px; color: #3f5863; height: 50px; line-height: 50px; }
.setlist-edit .accordion-body { display: none; padding: 20px 15px; background: #fff; }
.expanded .accordion-body { display: block; }

.accordion-arrow { display: inline-block; width: 0; height: 0; border-style: solid; border-width: 7px 0 7px 8px; border-color: transparent transparent transparent #3f5863; margin-right: 20px; margin-bottom: -3px; }
.expanded .accordion-arrow { border-width: 8px 7px 0 7px; border-color: #3f5863 transparent transparent transparent; margin-bottom: 0; }

.input-number { overflow: hidden; }
.input-number input,
.input-controls { display: inline-block; margin: 0 5px; vertical-align: middle; }
.input-number input { width: 15px; border: 0; background: transparent; font-size: 13px; color: #3f5863; }
.input-controls .up,
.input-controls .down { display: block; width: 0; height: 0; border-style: solid; }
.input-controls .up { border-width: 0 4px 6px 4px; border-color: transparent transparent #e46e50 transparent; margin-bottom: 4px; }
.input-controls .down { border-width: 6px 4px 0 4px; border-color: #e46e50 transparent transparent transparent; margin-top: 4px; }

.list-tracks { overflow: hidden; margin: 0; list-style: none outside none; color: #4f5458; }
.list-tracks li { padding-bottom: 12px; }

.table-setlist td { vertical-align: middle!important; border: 0 !important; }
.table-setlist thead > tr > th { padding: 0; border-bottom: 0!important;color: #616161; font-weight: normal; }
.table-setlist .form-label { padding-bottom: 0; margin-bottom: 0; }
.table-setlist .input-number { display: inline-block; }

.setlist-edit .search { float: none; padding: 7px 5px; }
.setlist-edit .search .form-control { border-right: 0; width: 100%; padding-right: 10px; }

.setlist-cols { overflow: hidden; background: #edece8; }
.setlist-cols .col { float: left; width: 270px; border-right: 1px solid #e8e8e8; }
.setlist-cols .col ~ .col { width: 283px; padding: 18px 15px; border: 0; }

.track-select { padding: 18px 0 0; background: #fff; border: 1px solid #e8e8e8; border-right: 0; }
.track-select ul { margin: 0; list-style: none outside none; }
.track-select li { padding: 0 5px 5px; }
.track-select .select-all { border-bottom: 1px solid #e8e8e8; margin-bottom: 20px; }
.track-select .custom-checkbox-fake { margin-right: 15px; }
.track-select label { color: #4f5458; }

.setlist-edit .add { padding-bottom: 7px; }

.track-sequence { padding-bottom: 10px; }
.track-sequence ul { margin: 0; list-style: none outside none; }
.track-sequence li { position: relative; overflow: hidden; padding: 12px 40px 12px 10px; margin-bottom: 7px; border-radius: 2px; background: #fff; }
.track-sequence .input-number { float: left; border-right: 1px solid #ededea; margin-right: 14px; }
.track-sequence .input-number input { width: 13px; }
.track-sequence .icon-remove { position: absolute; top: 50%; right: 15px; margin-top: -8px; }
.track-sequence .track-name { padding-top: 4px; }

.medley h6 { color: #2d3339; }
.medley-head { border-bottom: 1px solid #b9b9b9; }

.medley-body { padding-top: 15px; text-align: center; }
.medley-body span { font-family: 'Fira Sans Medium Italic', sans-serif; color: #b9b9b9; }

.form-tour .form-section h5 { padding-left: 15px; font-size: 14px; color: #2d3339; }

.tour-modal-details { padding: 10px 15px 0; background: #edece8; color: #8b8a89; }

.table-row > ul,
.rows { overflow: hidden; margin: 0; list-style: none outside none; }
.table-row { overflow: hidden; border: 2px solid #fcfbf7; border-radius: 2px; background: #fcfbf7; }
.table-row { margin-bottom: 7px; }
.table-row li { float: left; height: 56px; }
.table-row-head { margin-bottom: 10px; border: 0; background: transparent; }
.table-row-head li { height: auto; }
.table-row > ul > li:first-child { width: 370px; }
.table-row > ul > li:first-child + li { width: 135px; }
.table-row > ul > li:first-child + li + li { width: 40px; text-align: center; }
.table-row:hover { border-color: #e57558; }

.tour-modal-details .actions { height: 54px; padding-top: 21px; }
.tour-modal-details .actions ul { position: relative; width: 110px; height: 10px; border: 2px solid #fafafa; border-radius: 5px; margin: 0; background: #fff; list-style: none outside none; }
.tour-modal-details .actions a { display: block; width: 5px; height: 5px; border-radius: 50%; background: #d7dbdd; font-size: 0; line-height: 0; text-indent: -4000px; }
.tour-modal-details .actions li { position: absolute; top: 1px; }
.tour-modal-details .actions .hide { left: 0; display: block !important; }
.tour-modal-details .actions .preview { left: 50%; margin-left: -2px; }
.tour-modal-details .actions .show { right: 0; }
.tour-modal-details .actions .current { top: -4px; }
.tour-modal-details .actions .current a { width: 15px; height: 15px; }
.tour-modal-details .actions .hide.current a{ background: #e20000; }
.tour-modal-details .actions .preview.current { margin-left: -7px; }
.tour-modal-details .actions .preview.current a { background: #e2bc35; }
.tour-modal-details .actions .show.current a { background: #78af00; }

.tour-modal-details .input-number { float: left; padding: 15px 10px 0 7px; }
.tour-modal-details .field { float: left; width: 285px; margin-top: 5px; color: #3f5863; }
.tour-modal-details .icon-delete { margin-top: 17px; }
.tour-modal-details .mobile { display: none; }

/* ==========================================================================
	#Modal Photos
========================================================================== */
.uploaded-photos { padding-bottom: 10px; color: #fff; }
.uploaded-photos h5 { padding-bottom: 15px; margin: 0; font-size: 16px; color: #fff; }
.uploaded-photos p { display: inline-block; padding: 0 5px; background: #2e3439; line-height: 22px; }

.list-uploaded-photos { overflow: hidden; padding-bottom: 25px; margin: 0; list-style: none outside none; }
.list-uploaded-photos li { position: relative; float: left; border: 2px solid transparent; margin-right: 20px; }
.list-uploaded-photos .icon-remove { position: absolute; top: 5px; right: 5px; }
.list-uploaded-photos .done { border-color: #fff; }
.list-uploaded-photos .done .overlay { display: block; }
.list-uploaded-photos .overlay { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255, .28); }
.list-uploaded-photos .icon-check-big { position: absolute; top: 50%; left: 50%; margin: -14px 0 0 -18px; }

.photo-info h5 { padding: 15px 0; margin: 0; text-align: center; }

.table-photos td { padding: 13px 8px!important; border: 0 !important; background: #edece8; }
.table-photos tr + tr td { border-top: 2px solid #e3e3e0!important; }
.table-photos td:first-child { text-align: center; }
.table-photos img { margin-top: 5px; }
.table-photos .form-row { float: left; padding-bottom: 0; width: 340px; padding-right: 15px; }
.table-photos .form-row ~ .form-row { width: 140px; padding-right: 0; }

.form-photos { padding: 0 15px; }
.form-photos .checkboxes { display: inline-block; padding: 17px 10px 10px 0; background: #edece8; }

.select-gallery-alt .selecter-item:last-child { padding-left: 40px; background: url(images/add-gallery.png) 0 center no-repeat; color: #e46d50; }

/* ==========================================================================
	#Footer
========================================================================== */
.footer { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 100; height: 72px; padding: 13px 15px 0; background: #212121; font-family: 'Fira Sans Light', sans-serif; font-size: 15px; color: #fff; }

.footer-left { float: left; padding-top: 2px; }
.footer-left p { margin: 0; }

.credits { padding-bottom: 7px; font-family: 'Gotham Bold', sans-serif;}

.footer-logo { float: right; width: 158px; }
.footer-logo a { overflow: hidden; display: block; height: 42px; background: url(images/sprite.png) 0 -101px no-repeat; text-indent: 100%; white-space: nowrap; }