html.tmot-venue-site-page {
  max-width: 100%;
  overflow-x: hidden;
  ms-overflow-style: none;
  height: 200%;
}

body.tmot-venue-site-page {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 14px;
  color: #232323;
  font-family: 'roboto regular','Arial','Tahoma','Geneva','sans-serif';
  background-position: center top;
  background-repeat: no-repeat;
}
