$primary1: #3F5863 ; // dark bluish-grey
$primary2: #E8E8E8 ; // light grey 
$primary3: #E46E50 ; // orange
$primary4: #B9B9B9 ; // medium grey
$primary5: #2E3439 ; // almost black
$primary6: #ffffff ; // white
$primary7: #626262 ; // medium grey
$primary8: #FCFBF7 ; // very light grey
$primary9: #f1f1f1 ; // background grey
$primary10: #BCC1C5 ; // light grey label text;
$primary11: #90908e ; // med grey label text;

// dahboard colors
$dashboardblue: #5799DA;
$dashboardgreen: #78AF00;
$dashboardorange: #E46E50;
$dashboardgrey: #B9B9B9;

// colors
$black: #000000;
$black_cms: #2E3439;
$color_stack_approx: #8a8a8a;
$color_mine_shaft_approx: #313131;
$color_gray_nurse_approx: #eaeaea;
$color_dove_gray_approx: #6f6f6f;
$color_cerulean_approx: #009cde;
$color_solitude_approx: #ebf4fb;
$color_sail_approx: #b3e1f4;
$concrete: #f2f2f2;
$color_storm_dust_approx: #606060;
$color_razzmatazz_approx: #d0006f;
$color_link_water_approx: #d5e9f7;
$color_wild_sand_approx: #f5f5f5;
$color_mercury_approx: #e3e3e3;
$color_cape_cod_approx: #36403c;
$color_tapa_approx: #777;

// shadow
$shadow_black_5: rgba(0,0,0,.05);

// fonts
$font_0: Arial Regular;

// .well border for the site styler
$tmot-styler-border-color: $color_mercury_approx;

// navigation colors
$tmot-styler-navbar-background-color: $black_cms;
$tmot-styler-navbar-color: $color_stack_approx;

// edit page buttons colors
$tmot-edit-btn-color-default: $black;
$tmot-edit-btn-background-color-default: $color_sail_approx;
$tmot-edit-btn-color-active: $color_solitude_approx;
$tmot-edit-btn-background-color-active: $color_cerulean_approx;

// according colors
$tmot-accordion-panel-heading-color: $color_storm_dust_approx;
$tmot-accordion-panel-heading-background-color: $concrete;
$tmot-accordion-panel-heading-color-active: $color_link_water_approx;
$tmot-accordion-panel-heading-background-color-active: $color_razzmatazz_approx;
$tmot-accordion-item-border-color: $color_dove_gray_approx;

// edit page static navigation
$tmot-edit-static-nav-panel-background-color: $color_wild_sand_approx;
$tmot-edit-static-nav-panel-border-color: $color_mercury_approx;
$tmot-edit-static-nav-panel-box-shadow: $shadow_black_5;

// edit page: active region
$tmot-edit-border-color-active: $color_razzmatazz_approx;

// edit page: active menu region
$tmot-edit-background-color-active: $color_razzmatazz_approx;
$tmot-edit-color-active: $color_link_water_approx;
$tmot-edit-group-container-background-color: $color_tapa_approx;
$tmot-edit-group-container-border-color: $color_tapa_approx;
$tmot-edit-group-container-color: $color_solitude_approx;
