body {
  box-sizing: border-box;
  background: $primary6;
  color: $primary1;
  font-family: $font-primary;
  font-size: 13px;
  margin: 70px 0 30px 0;
  padding: 0;
  /* removes small amount of scrolling due to margins set at -15px.  */
  overflow-x: hidden;
}

/* ==========================================================================
  # Venue Site Customization: (June 25th, 2015)
========================================================================== */
html { font-size: 16px; }
body { font-size: 0.813rem; } /* =13px */
/* ==========================================================================
  # End: Venue Site Customization: (June 25th, 2015)
========================================================================== */

h1 {
  font-size: 28px;
  font-family: 'fira_sans_otmedium', sans-serif;
    margin-top: 10px;
}
h2 {
  font-size: 20px;
  font-family: 'fira_sans_otmedium', sans-serif;
}
h3 {
  font-size: 20px;
  font-family: 'fira_sans_otregular', sans-serif;
}
h4 {
  font-size: 14px;
  font-family: 'fira_sans_otmedium', sans-serif;
}
h5 {
  font-size: 13px;
  font-family: 'fira_sans_otbold', sans-serif;
}
h6 {
  font-size: 13px;
  font-family: 'fira_sans_otmedium', sans-serif;
}

h7 {
  font-size: 12px;
  font-family: 'fira_sans_otmedium', sans-serif;
}

p {
  font-size: 12px;
  font-family: 'fira_sans_otmedium', sans-serif;
  line-height: 121%;
}

a {
  color: $primary1;
  &:hover {
    color: $primary1;
    text-decoration: underline;
  }
}

header {
  background: $primary5;
  height: 56px;
  color: $primary6;
}